<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khoudourmohamedelamine.hp.blood_d">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Blood_Donation"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start_A" />
        <activity android:name=".Desc_A" />
        <activity android:name=".Entrer_A">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Insc_A" />
        <activity android:name=".Slide"></activity>
    </application>

</manifest>